.row
  .col-lg-12
    = breadcrumbs [[current_organization.name, organization_path(current_organization)],
                   ['Charges', organization_charges_path(current_organization)],
                   ['Namespaces']]

    = title 'Namespaces'

    %table.table
      %thead
        %th Namespace
        %th Raised

      - @namespaces.each do |namespace|
        %tr
          %td= link_to namespace['namespace'], organizations_namespaces_tags_path(current_organization, namespace['namespace'])
          %td= namespace['raised']

    = will_paginate @namespaces