.row
  .col-lg-12
    = breadcrumbs [[current_organization.name, organization_path(current_organization)],
                   ['Charges', organization_charges_path(current_organization)],
                   ['Tags', organization_tags_path(current_organization)],
                   [@tag.name]]
    = title "Tag: #{@tag.name}"

    .pull-left
      %ul.horizontal-links
        %li
          Raised:
          = @tag.total_raised
        %li
          Charges:
          = @tag.total_charges_count

    .pull-right
      %ul.horizontal-links
        %li
          = link_to 'Download CSV', organization_tag_charges_path(current_organization, @tag, format: 'csv')
        %li
          = link_to 'All tags', organization_tags_path(current_organization)

    = render partial: 'org/charges/charges_table', locals: {charges: @tag.charges}
