.row
  .col-lg-12
    = breadcrumbs [[current_organization.name, organization_path(current_organization)],
                   ['Settings']]

    %h3 Stripe Settings

    %ul.nav.nav-tabs.mb30
      %li{role: 'presentation'}
        = link_to 'Widget', organization_settings_path(current_organization)
      %li{role: 'presentation'}
        = link_to 'CRM', organization_settings_crm_path(current_organization)
      %li{role: 'presentation'}
        = link_to 'Applications', organization_settings_applications_path(current_organization)
      %li{role: 'presentation', class: 'active'}
        %a{href:'#'}
          Stripe

- if @account
  .row
    .col-lg-12
      .row.mb30
        .col-lg-6
          %h3
            Connected Account
        .col-lg-6
          = button_to 'Deauthorize', deauthorize_organization_path(@organization), method: 'put', class: 'btn btn-warning mt20'

      %table.table
        %thead
          %th Name
          %th Value
        %tbody
          %tr
            %td
              ID
            %td
              = @account.id
          %tr
            %td
              Display Name
            %td
              = @account.display_name
          %tr
            %td
              Email
            %td
              = @account.email
          %tr
            %td
              Statement Descriptor
            %td
              = @account.statement_descriptor
- else
  = render partial: 'organizations/connect_with_stripe'
