.row
  .col-lg-12
    = breadcrumbs [[current_organization.name, organization_path(current_organization)],
                   ['Charges']]
    / = title 'Charges'


.row.mt20.mb20
  .col-lg-2

  .col-lg-12
    %h4 This Week
    - current_organization.charges_count_last_7_days.each do |day, charge_count|
      .admin_minor_stat.pull-left
        .number
          = number_with_delimiter(charge_count, :delimiter => ',')
        .sublte
          = day.strftime "%d/%b/%Y"

.row.mt20
  .col-lg-12
    .pull-right
      .ul{class: 'nav nav-pills'}
        %li
          = link_to 'Namespaces', organization_namespaces_path(current_organization)
        %li
          = link_to 'Tags', organization_tags_path(current_organization)
        %li
          = link_to 'Download CSV', organization_charges_path(current_organization, format: 'csv')

    = render partial: 'charges_table', locals: {charges: @charges}

    = will_paginate @charges
