= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form-devise'}) do |f|
  %h2.form-signin-heading Sign In
  = f.email_field :email, autofocus: true, placeholder: 'Email', required: true, class: 'form-control first-item'
  = f.password_field :password, autocomplete: "off", placeholder: 'Password', required: true, class: 'form-control last-item'
  - if devise_mapping.rememberable?
    %div
      = f.check_box :remember_me
      = f.label :remember_me
  = f.submit "Sign in", class: 'btn btn-lg btn-primary btn-block'
  .shared-links
    = render "devise/shared/links"
