.row
  .col-lg-12
    = breadcrumbs [['Admin', admin_path],
                   ['Organizations']]

    = title @organization.name

    = link_to 'Customer Dashboard', organization_path(@organization)

    %h4 Users

    %table.table
      %thead
        %th Email
        %th Action
      - @organization.users.each do |user|
        %tr
          %td= user.email
          %td
            - if user.confirmed?
              Already Confirmed
            - else
              %div{id: "user-#{user.id}-confirmation"}
                = button_to 'Send Confirmation Email', send_confirmation_instructions_admin_user_path(user), remote: true
