= simple_form_for(@crm, html: { class: "form-vertical credentials-form", role: "form"}, wrapper: :vertical_form, remote: true) do |f|
  = f.input :platform, collection: Crm::PLATFORMS.collect { |k, v| [v,k] }
  = f.input :username
  = f.input :password
  = f.input :host
  = f.input :donation_page_name
  = f.button :submit, 'Save', html: { class: 'btn btn-default', data: { disable_with: 'Saving...' } }