= simple_form_for([current_organization, @crm], html: { class: "form-vertical credentials-form", role: "form", id: 'crm-form-bluestate'}, wrapper: :vertical_form, remote: true) do |f|
  = f.input :platform, as: :hidden, input_html: {value: 'bluestate'}
  = f.input :username, label: 'API ID', input_html: {placeholder: "your API ID"}
  = f.input :password, label: 'API secret', input_html: {placeholder: "your API secret"}
  = f.input :host, input_html: {placeholder: "yourorg.bluestate.com"}
  = f.input :default_currency, {placeholder: "USD"}
  = f.button :submit, 'Save', data: { disable_with: 'Saving...' }
  - if valid
    %span{class:"glyphicon glyphicon-ok text-success crm-form-success"}
