<%= form_for(@crm, html: { class: 'credentials-form'}, remote: true) do |f| %>
  <%= f.label :platform %>
  <%= f.collection_select(:platform, Crm::PLATFORMS, :first, :last) %><br>
  <%= f.label :username %>
  <%= f.text_field :username %><br>
  <%= f.label :password %>
  <%= f.password_field :password %><br>
  <%= f.label :host %>
  <%= f.text_field :host %><br>
  <%= f.label :donation_page_name %>
  <%= f.text_field :donation_page_name %><br>
  <label></label>
  <%= f.submit "Submit", data: { disable_with: "Saving..."} %>
<% end %>