!!!
%html
  %head
    %title= content_for?(:title) ? content_for(:title) : (current_organization ? current_organization.name : 'TakeCharge')
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body{class: "body-#{controller_name} body-#{controller_name}-#{action_name} locale-#{I18n.locale}"}
    .navbar.navbar-default{:role => "navigation"}
      .container
        .navbar-header
          %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => root_path}
            = image_tag 'logo.png'
        .navbar-collapse.collapse
          %ul.nav.navbar-nav.navbar-right
            - if current_organization
              %li
                %input{:type =>"checkbox", :name =>"organization_test_mode", :checked => current_organization.testmode, id: 'organization_test_mode', 'data-update-path' => organization_path(current_organization), 'data-on-text' => 'Live', 'data-off-text' => 'Test' }
              %li= link_to 'Charges', org_charges_path
              %li= link_to 'Dashboard', organization_path(current_organization)
              %li= link_to "Sign out", destroy_organization_session_path, method: :delete
            - else
              %li= link_to 'Sign in', new_organization_session_path
        / /.nav-collapse
    .container
      - flash.each do |type, message|
        .div{class:"alert #{bootstrap_class_for(type)} fade in"}
          %button.close{"data-dismiss"=>"alert"} ×
          = message
      = yield
    %footer

    = yield :end_of_body


